/* Work in progress, created by Ben <dotbitgod@gmail.com>. */

body {
    background: #F7F7F7;
    background: #292e3c;
    font-size: 18px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    word-wrap: break-word;
}

body > header {
    background: #999;
}

.lead {
    font-size: 1.9em;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #495f7e;
}

body > footer {
    background: #292e3c url({{ "images/fancy.jpg" | prepend: site.baseurl }}) center bottom;
    height: 99px;
}

body > footer > .container, body > footer > .container-fluid {
    opacity: 0.6;
    padding-top: 33px;
}


body > footer a, body > footer a:hover {
    color: #FFF;
}

nav ul li {
    display: inline;
}

#fancy-graphic {
    height: 350px;
    background: #292e3c url({{ "images/fancy.jpg" | prepend: site.baseurl }}) center top fixed;
    padding-top: 125px;
}

#fancy-graphic p {
    font-size: 4em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFF;
    margin: 0;
    line-height: 1;
    text-shadow: 1px 1px 1px #000;
    opacity: 0.6;
    position: fixed;
    z-index: 0;
}

@media (max-width: 549px) {
  #fancy-graphic {
    height: 262.5px;
    padding-top: 93.75px;
  }
  
  #fancy-graphic p {
    font-size: 3em;
  }
}

@media (max-width: 399px) {
  #fancy-graphic {
    height: 218.75px;
    padding-top: 78.125px;
  }
  
  #fancy-graphic p {
    font-size: 2.5em;
  }
}

#content {
    position: relative;
    z-index: 9;
    background: #F7F7F7;
    padding: 40px;
}
